@{
    ViewData["Title"] = "Rankings Unavailable";
}

<div class="container my-5 text-center">
    <h2 class="my-4">Player Rankings</h2>

    <div class="alert alert-info my-4">
        <h4>@ViewData["RankingsMessage"]</h4>
        <p>Rankings will be available again on January 1st.</p>
        <p>Current date: @ViewData["CurrentDate"]</p>
    </div>
</div>